binutils*
*.bc
*.ll
*.o
*.out
*.taint
*.so
*.bcc
*.txt 
*.json
*.dsm

.vscode/

retdec*
debug/

.vscode/
*.out
*.output
*.txt
*.csv
venv/*
t-test/data/*
*/microbenchmark/*-output/*

*.log
*/dft.tmp*
*/loops-cfl.conf
*final.s

.DS_Store
